resources:
- config/default

# Edit config.yaml to customize Accurate configurations
configMapGenerator:
- name: accurate-config
  namespace: accurate
  files:
  - config.yaml

images:
- name: ghcr.io/cybozu-go/accurate
  newTag: 0.1.0
