---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-accurate-cybozu-com-v1-subnamespace
  failurePolicy: Fail
  name: msubnamespace.kb.io
  rules:
  - apiGroups:
    - accurate.cybozu.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - subnamespaces
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-v1-namespace
  failurePolicy: Fail
  name: vnamespace.kb.io
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - namespaces
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-accurate-cybozu-com-v1-subnamespace
  failurePolicy: Fail
  name: vsubnamespace.kb.io
  rules:
  - apiGroups:
    - accurate.cybozu.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - subnamespaces
  sideEffects: None
