
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-innu-cybozu-com-v1-subnamespace
  failurePolicy: Fail
  name: msubnamespace.kb.io
  rules:
  - apiGroups:
    - innu.cybozu.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - subnamespaces
  sideEffects: None

---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-innu-cybozu-com-v1-subnamespace
  failurePolicy: Fail
  name: vsubnamespace.kb.io
  rules:
  - apiGroups:
    - innu.cybozu.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - subnamespaces
  sideEffects: None
