image:
  repository: accurate
  tag: dev
  pullPolicy: Never

controller:
  extraArgs:
    - --zap-log-level=5

  config:
    labelKeys:
      - team

    annotationKeys:
      - test

    subNamespaceLabelKeys:
      - team

    subNamespaceAnnotationKeys:
      - test

    watches:
      - group: rbac.authorization.k8s.io
        version: v1
        kind: Role
      - group: rbac.authorization.k8s.io
        version: v1
        kind: RoleBinding
      - version: v1
        kind: Secret
      - version: v1
        kind: ResourceQuota
      - version: v1
        kind: ServiceAccount

  additionalRBAC:
    rules:
      - apiGroups:
          - bitnami.com
        resources:
          - sealedsecrets
        verbs:
          - get
          - list
          - watch
      - apiGroups:
          - ""
        resources:
          - resourcequotas
        verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
