{{- if .Values.installCRDs }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    cert-manager.io/inject-ca-from: '{{ .Release.Namespace }}/{{ template "accurate.fullname" . }}-serving-cert'
    controller-gen.kubebuilder.io/version: v0.15.0
  labels:
    app.kubernetes.io/managed-by: '{{ .Release.Service }}'
    app.kubernetes.io/name: '{{ include "accurate.name" . }}'
    app.kubernetes.io/version: '{{ .Chart.AppVersion }}'
    helm.sh/chart: '{{ include "accurate.chart" . }}'
  name: subnamespaces.accurate.cybozu.com
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        service:
          name: '{{ template "accurate.fullname" . }}-webhook-service'
          namespace: '{{ .Release.Namespace }}'
          path: /convert
      conversionReviewVersions:
        - v1
  group: accurate.cybozu.com
  names:
    kind: SubNamespace
    listKind: SubNamespaceList
    plural: subnamespaces
    singular: subnamespace
  scope: Namespaced
  versions:
    - deprecated: true
      deprecationWarning: The v1 version of SubNamespace has been deprecated and will be removed in a future release of the API. Please upgrade.
      name: v1
      schema:
        openAPIV3Schema:
          description: |-
            SubNamespace is the Schema for the subnamespaces API
            Deprecated: This type will be removed in one of the next releases.
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.
              type: string
            metadata:
              type: object
            spec:
              description: Spec is the spec of SubNamespace.
              properties:
                annotations:
                  additionalProperties:
                    type: string
                  description: Annotations are the annotations to be propagated to the sub-namespace.
                  type: object
                labels:
                  additionalProperties:
                    type: string
                  description: Labels are the labels to be propagated to the sub-namespace
                  type: object
              type: object
            status:
              description: Status is the status of SubNamespace.
              enum:
                - ok
                - conflict
              type: string
          type: object
      served: true
      storage: false
    - name: v2
      schema:
        openAPIV3Schema:
          description: SubNamespace is the Schema for the subnamespaces API
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.
              type: string
            metadata:
              type: object
            spec:
              description: Spec is the spec of SubNamespace.
              properties:
                annotations:
                  additionalProperties:
                    type: string
                  description: Annotations are the annotations to be propagated to the sub-namespace.
                  type: object
                labels:
                  additionalProperties:
                    type: string
                  description: Labels are the labels to be propagated to the sub-namespace
                  type: object
              type: object
            status:
              description: Status is the status of SubNamespace.
              properties:
                conditions:
                  description: Conditions represent the latest available observations of an object's state
                  items:
                    description: |-
                      Condition contains details for one aspect of the current state of this API Resource.
                      ---
                      This struct is intended for direct use as an array at the field path .status.conditions.
                    properties:
                      lastTransitionTime:
                        description: |-
                          lastTransitionTime is the last time the condition transitioned from one status to another.
                          This should be when the underlying condition changed.
                        format: date-time
                        type: string
                      message:
                        description: |-
                          message is a human readable message indicating details about the transition.
                          This may be an empty string.
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        description: |-
                          observedGeneration represents the .metadata.generation that the condition was set based upon.
                          For instance, if .metadata.generation is currently 12, but the .status.conditions[x].
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        description: reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        description: status of the condition, one of True, False, Unknown.
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        description: |-
                          type of condition in CamelCase or in foo.example.com/CamelCase.
                          ---
                          Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                          useful (see .node.status.
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                  x-kubernetes-list-map-keys:
                    - type
                  x-kubernetes-list-type: map
                observedGeneration:
                  description: The generation observed by the object controller.
                  format: int64
                  type: integer
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
    - deprecated: true
      deprecationWarning: The v2alpha1 version of SubNamespace has been deprecated and will be removed in a future release of the API. Please upgrade.
      name: v2alpha1
      schema:
        openAPIV3Schema:
          description: |-
            SubNamespace is the Schema for the subnamespaces API
            Deprecated: This type will be removed in one of the next releases.
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.
              type: string
            metadata:
              type: object
            spec:
              description: Spec is the spec of SubNamespace.
              properties:
                annotations:
                  additionalProperties:
                    type: string
                  description: Annotations are the annotations to be propagated to the sub-namespace.
                  type: object
                labels:
                  additionalProperties:
                    type: string
                  description: Labels are the labels to be propagated to the sub-namespace
                  type: object
              type: object
            status:
              description: Status is the status of SubNamespace.
              properties:
                conditions:
                  description: Conditions represent the latest available observations of an object's state
                  items:
                    description: |-
                      Condition contains details for one aspect of the current state of this API Resource.
                      ---
                      This struct is intended for direct use as an array at the field path .status.conditions.
                    properties:
                      lastTransitionTime:
                        description: |-
                          lastTransitionTime is the last time the condition transitioned from one status to another.
                          This should be when the underlying condition changed.
                        format: date-time
                        type: string
                      message:
                        description: |-
                          message is a human readable message indicating details about the transition.
                          This may be an empty string.
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        description: |-
                          observedGeneration represents the .metadata.generation that the condition was set based upon.
                          For instance, if .metadata.generation is currently 12, but the .status.conditions[x].
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        description: reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        description: status of the condition, one of True, False, Unknown.
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        description: |-
                          type of condition in CamelCase or in foo.example.com/CamelCase.
                          ---
                          Many .condition.type values are consistent across resources like Available, but because arbitrary conditions can be
                          useful (see .node.status.
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                  x-kubernetes-list-map-keys:
                    - type
                  x-kubernetes-list-type: map
                observedGeneration:
                  description: The generation observed by the object controller.
                  format: int64
                  type: integer
              type: object
          type: object
      served: true
      storage: false
      subresources:
        status: {}
{{- end }}
