---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: subnamespaces.accurate.cybozu.com
spec:
  group: accurate.cybozu.com
  names:
    kind: SubNamespace
    listKind: SubNamespaceList
    plural: subnamespaces
    singular: subnamespace
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: SubNamespace is the Schema for the subnamespaces API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.'
            type: string
          metadata:
            type: object
          spec:
            description: Spec is the spec of SubNamespace.
            properties:
              annotations:
                additionalProperties:
                  type: string
                description: Annotations are the annotations to be propagated to the
                  sub-namespace.
                type: object
              labels:
                additionalProperties:
                  type: string
                description: Labels are the labels to be propagated to the sub-namespace
                type: object
            type: object
          status:
            description: Status is the status of SubNamespace.
            enum:
            - ok
            - conflict
            type: string
        type: object
    served: true
    storage: true
