name: CI
on:
  pull_request:
  push:
    branches:
    - 'main'
jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5.0.0
    - uses: actions/setup-go@v5.5.0
      with:
        go-version-file: go.mod
    - uses: ./.github/actions/aqua
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - run: make release-build
  test:
    name: Small tests
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5.0.0
    - uses: actions/setup-go@v5.5.0
      with:
        go-version-file: go.mod
    - uses: ./.github/actions/aqua
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - run: make test
    - run: make check-generate
    - run: make envtest
  e2e:
    name: End-to-End Tests
    strategy:
      matrix:
        k8s-version:
        - v1.33.1@sha256:050072256b9a903bd914c0b2866828150cb229cea0efe5892e2b644d5dd3b34f # renovate: kindest/node
        - v1.32.5@sha256:e3b2327e3a5ab8c76f5ece68936e4cafaa82edf58486b769727ab0b3b97a5b0d # renovate: kindest/node
        - v1.31.9@sha256:b94a3a6c06198d17f59cca8c6f486236fa05e2fb359cbd75dabbfc348a10b211 # renovate: kindest/node
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v5.0.0
    - uses: actions/setup-go@v5.5.0
      with:
        go-version-file: go.mod
        cache: true
    - uses: ./.github/actions/aqua
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - run: make start KUBERNETES_VERSION=${{ matrix.k8s-version }}
      working-directory: e2e
    - run: make test
      working-directory: e2e
    - run: make logs
      working-directory: e2e
      if: always()
    - name: Sanitize version name
      id: sanitize
      run: |
        # extract only version name because ':' is not allowed for artifact name
        SANITIZED_K8S_VERSION="$(echo ${{ matrix.k8s-version}} | awk -F '@' '{print $1}')"
        echo "SANITIZED_K8S_VERSION=$SANITIZED_K8S_VERSION" >> $GITHUB_OUTPUT
    - uses: actions/upload-artifact@v4.6.2
      if: always()
      with:
        name: logs-${{ steps.sanitize.outputs.SANITIZED_K8S_VERSION }}.tar.gz
        path: e2e/logs.tar.gz
