name: Book
on:
  pull_request:
  push:
    branches:
    - 'main'
jobs:
  build:
    name: Build book
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: ./.github/actions/aqua
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - run: make book
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: book
        path: docs/book
        retention-days: 1
  publish:
    name: Publish book on GitHub Pages
    runs-on: ubuntu-24.04
    needs: build
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        ref: gh-pages
    # ignore helm chart index file and chart archive file.
    - run: ls | grep -v -E 'index.yaml|accurate-.*\.tgz' | xargs rm -rf
    - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: book
    - run: git add .
    - name: Check diff
      run: |
        diffs=$(git status -s)
        if [ "$diffs" = "" ]; then
          echo "NO_DIFF=1" >> $GITHUB_ENV
        else
          printf "%s\n" "$diffs"
        fi
    - name: Commit changes
      if: env.NO_DIFF != '1'
      run: |
        git config --global user.name 'Cybozu Neco'
        git config --global user.email 'cybozu-neco@users.noreply.github.com'
        git commit -m 'update'
    - name: Push to gh-pages
      if: github.ref == 'refs/heads/main' && env.NO_DIFF != '1'
      run: git push origin gh-pages
